<div class="container">
  <h1 class="header">Cocktails Menu</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-3">
        <h3 class="items">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </h3>
      </div>
    <% end %>
  </div>
  <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
