<div class="container">
  <div class="content">
<h1 class="text-center">Add a Dose</h1>
<div class="row">
  <div class="col-8 offset-2">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <p><%= f.input :description %></p>
      <p><%= f.association :ingredient, collection: @ingredients %></p>
      <%= f.submit %>
    <% end %>
  </div>
</div>
</div>
</div>
